@model ArticleUserVM
@{
    ViewData["Title"] = "List Article";
}
<h1>Manage your account</h1>

<div>
    <h2>Change your account settings</h2>
    <hr />
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var article in Model.Articles)
            {
                <tr>
                    <td>@article.Title</td>
                    <td>@article.CreatedDate.ToString("MM/dd/yyyy")</td>
                </tr>
            }
        </tbody>
    </table>
</div>
