@*
@{
    ViewData["Title"] = "About";
}


<blockquote class="blockquote text-center">
    <p class="mb-0">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi odit doloremque necessitatibus ullam suscipit repellendus autem totam ipsa possimus eveniet praesentium nihil, in nobis exercitationem nulla? Voluptate, explicabo dolore ratione repudiandae vitae nulla iure ullam, sequi neque dicta tenetur totam accusantium porro aliquid saepe quos voluptates omnis esse, facere dolores et numquam vero iusto blanditiis! Error voluptatum, quasi sapiente laudantium corporis quo obcaecati aperiam pariatur nobis, exercitationem repellendus ea ipsam, rerum veniam est iusto dolores. Dolore labore modi dolorum consequatur voluptatum? Aspernatur autem veniam hic deserunt officiis ipsum? Maxime perferendis blanditiis perspiciatis asperiores tempore? Esse voluptate veritatis placeat quibusdam quas.
    </p><br />
    <footer class="blockquote-footer">Famous developer in <cite title="Source Title">BilgeAdamBoost</cite></footer>
</blockquote>*@

<section id="about" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>About</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem iure
                    qui autem quae reprehenderit placeat numquam, voluptatum illum
                    accusantium eius voluptatibus dolore aspernatur enim sapiente fugiat
                    expedita aperiam nisi incidunt atque eveniet ratione deleniti voluptas
                    odit? Maiores sed nam libero magnam culpa magni nesciunt a repellendus.
                    Assumenda laudantium adipisci corrupti!
                </p>
            </div>
        </div>
    </div>
</section>
