@*
@{
    ViewData["Title"] = "About";
}


<blockquote class="blockquote text-center">
    <p class="mb-0">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi odit doloremque necessitatibus ullam suscipit repellendus autem totam ipsa possimus eveniet praesentium nihil, in nobis exercitationem nulla? Voluptate, explicabo dolore ratione repudiandae vitae nulla iure ullam, sequi neque dicta tenetur totam accusantium porro aliquid saepe quos voluptates omnis esse, facere dolores et numquam vero iusto blanditiis! Error voluptatum, quasi sapiente laudantium corporis quo obcaecati aperiam pariatur nobis, exercitationem repellendus ea ipsam, rerum veniam est iusto dolores. Dolore labore modi dolorum consequatur voluptatum? Aspernatur autem veniam hic deserunt officiis ipsum? Maxime perferendis blanditiis perspiciatis asperiores tempore? Esse voluptate veritatis placeat quibusdam quas.
    </p><br />
    <footer class="blockquote-footer">Famous developer in <cite title="Source Title">BilgeAdamBoost</cite></footer>
</blockquote>*@

<section id="about" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>About</h2>
                <p class="lead">This is a sample blog website built using Bootstrap 5.1.</p>
                <p>This blog showcases different articles and blog posts on various topics. The aim of this website is to provide a platform for authors to share their thoughts and ideas with the world.</p>
                <p>We hope that you enjoy reading the articles and find the information on this website helpful. If you have any questions or suggestions, please don't hesitate to reach out to us.</p>
            </div>
        </div>
    </div>
</section>
