@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
}


<blockquote class="blockquote text-center">
    <p class="mb-0">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi odit doloremque necessitatibus ullam suscipit repellendus autem totam ipsa possimus eveniet praesentium nihil, in nobis exercitationem nulla? Voluptate, explicabo dolore ratione repudiandae vitae nulla iure ullam, sequi neque dicta tenetur totam accusantium porro aliquid saepe quos voluptates omnis esse, facere dolores et numquam vero iusto blanditiis! Error voluptatum, quasi sapiente laudantium corporis quo obcaecati aperiam pariatur nobis, exercitationem repellendus ea ipsam, rerum veniam est iusto dolores. Dolore labore modi dolorum consequatur voluptatum? Aspernatur autem veniam hic deserunt officiis ipsum? Maxime perferendis blanditiis perspiciatis asperiores tempore? Esse voluptate veritatis placeat quibusdam quas.
    </p><br />
    <footer class="blockquote-footer">Famous developer in <cite title="Source Title">BilgeAdamBoost</cite></footer>
</blockquote>